.gesture-recognition-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.gesture-canvas {
  position: absolute;
  marginLeft: auto;
  marginRight: auto;
  left: 0;
  top: 0;
  textAlign: center;
  zindex: 9;
  width: 640px;
  height: 480px;
}