@mixin fixed-menu-button-container {
  margin: 4px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #292929;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background: #373737;
  }
}